{block content}

    {php
        $flowers = array_map(function($flower) {
        $flower->randomTop = rand(0, 90);
        $flower->randomLeft = rand(0, 90);
        $flower->randomRotate = rand(-30, 30);
        return $flower;
        }, $flowers);

    }



    <div class="garden-container">

        <div class="nav-links">
            <a n:href="Dashboard:" class="return-link">🔙</a>
            <a n:href="Garden:Add" class="plant-flower-link"><span class="arrow-emoji">➡️</span> 123 flowers, add yours <span class="arrow-emoji">⬅️</span></a>
        </div>

        <div class="garden-info">
            <div class="paragraph-div">
                <p class="garden-announcement">🌺 Already planted a flower? Try to find it below! 👇</p>
                <p class="garden-warning" >🌷 Heads-up: You’ve got one shot to plant your flower—make it awesome! 🌻</p>
            </div>
            <h1 class="garden-title">Welcome to the Virtual Garden! 🌸</h1>
        </div>
        <div class="garden-block">

                <div class="garden-container-table">
                    {foreach $flowers as $flower}
                        <a n:href="Garden:flower $flower->flowerId" title="{$flower->flowerName}" class="flower">🌸</a>
                    {/foreach}
                    {for $i=0;$i<5;$i++}
                    <div class="garden-element"
                         style="top: {randomNum(1,90)}%; left: {randomNum(1,90)}%;">{randomEmoji()}</div>
                    {/for}
                </div>
        </div>
    </div>

    <style>

        body {
            background-color: #ddf6dd;
            line-height: 1.6;
        }

        .garden-container {
            max-width: calc(100% - 30rem);
            margin: 1.5rem auto;
            padding: 1.5rem 5rem 3rem;
            background-color: #e5ffe5;
            background-image: url('https://www.transparenttextures.com/patterns/little-pluses.png');
            border-radius: 2.5rem;
            text-align: center;
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
            border: 0.4rem dashed #88bd8f;
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .return-link {
            text-decoration: none;
            font-size: 3rem;
            transition: transform 0.3s ease, filter 0.3s ease;
            filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3));
        }

        .return-link:hover {
            transform: scale(1.2);
            filter: brightness(1.2);
        }

        .plant-flower-link {
            font-size: 1.55rem;
            text-decoration: none;
            color: #030303;
            transition: transform 0.3s ease, filter 0.3s ease;
        }

        .plant-flower-link:hover {
            transform: scale(1.2);
            filter: brightness(1.2);
        }



        .garden-info {
            text-align: center;
            margin-top: 0.55rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .garden-info h1 {
            font-size: 2.65rem;
            color: #3d6e3d;
            margin-top: 0.45rem;
            margin-bottom: 1.75rem;
            text-align: center;
        }

        .garden-info p {
            font-size: 1.2rem;
            font-style: italic;
            color: #3a623a;
        }

        .paragraph-div {
            border: 0.1rem solid #4caf50;
            border-radius: 1rem;
            padding: 0.25rem;
            background-color: #c8e6c9;
            margin-bottom: 1rem;
            margin-top: 1rem;
            width: 100%;
        }

        .garden-block {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .garden-container-table {
            position: relative;
            width: 100%;
            min-height: 43vh;
            border: 2px solid #4CAF50;
            border-radius: 1rem;
            background-image: url('https://www.transparenttextures.com/patterns/little-pluses.png');
            background-color: #4caf50;
            overflow: hidden;
        }

        .flower {
            position: absolute;
            font-size: 2rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            top: {$flower->randomTop}%;
            left: {$flower->randomLeft}%;
            transform: rotate({$flower->randomRotate}deg);
            text-decoration: none;
            transition: transform 0.3s ease, filter 0.3s ease;
            filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3));
        }

        .flower:hover {
            transform: scale(1.2);
            filter: brightness(1.2);
        }



        .garden-element {
            position: absolute;
            font-size: 1rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }




    </style>



{/block}


{block css}
    <style>







    </style>
{/block}
