<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Garden</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

        body {
            font-family: "Edu VIC WA NT Beginner", system-ui;
        }

        .site-footer {
            color: #0c0707;
            padding: 1.5rem 2rem;
            text-align: center;
        }

        .footer-content {
            max-width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-nav {
            margin-top: 1rem;
        }

        .footer-nav a {
            color: #0c0707;
            text-decoration: none;
            margin: 0 0.5rem;
            padding: 0.3rem 0.6rem;
            border-radius: 0.5rem;
            transition: background-color 0.3s ease;
        }



    </style>

    {ifset css}
        {include css}
    {/ifset}

    {ifset script}
        {include script}
    {/ifset}
</head>
<body>
{include content}
<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; 2024 Digital Garden 🌻</p>
        <nav class="footer-nav">
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>
        </nav>
    </div>
</footer>

</body>
</html>