services:
    - App\Router\RouterFactory::createRouter
    - App\Service\AuthService(%github_client_id%, %github_client_secret%, %github_redirect_uri%)
    - CacheWorker
search:
    manager:
        in: %appDir%/Model/Manager
        classes:
            - *Manager
    entity:
        in: %appDir%/Model/Entity
    form:
        in: %appDir%/Model/Form
        classes:
            - *FormFactory
    repository:
        in: %appDir%/Model/Repository
        classes:
            - *Repository
