{block content}

    <div class="support-container">
        <div class="nav-links">
            <div class="front-pages">
                <a n:href="ContentFront:about" class="front-nav">🌟 About Project</a>
                <a n:href="ContentFront:rules" class="front-nav">🌿 Garden Rules</a>
                <a n:href="ContentFront:support" class="front-nav active">💚 Support Us</a>
                <a n:href="Homepage:default" class="front-nav">🏠 Home</a>
            </div>
            <a n:href="Auth:login" class="login-link">Login</a>
        </div>

        <div class="titles">
            <h1 class="welcome-title"> You Can Support This Garden! 🐝</h1>
            <p class="plant-flower">🌹 The biggest support is to plant a flower 🌷</p>
        </div>

        <div class="main-content">
            <h4 class="description-title">Contribute to Development 💐🐙</h4>
            <p class="description">
                <strong>🛠️ Contribute Code:</strong> Help improve the Digital Garden by contributing code. Whether <strong>fixing bugs</strong> or adding <strong>new features</strong>, your work makes a difference. Check out our
                <a class="github-link" href="https://github.com/mstonjek/DigitalGarden">repo on GitHub</a> and <strong>get involved!</strong>
            </p>

            <h4 class="description-title">Star the Repo 💫🐞</h4>
            <p class="description">
                <strong>⭐ Star the Repository:</strong> Show your support by starring <a class="github-link" href="https://github.com/mstonjek/DigitalGarden">our GitHub repo</a>. This helps others <strong>discover</strong> the project and lets us know you <strong>appreciate</strong> our work. Every star counts!
            </p>

            <h4 class="description-title">Spread the Word! 🚀🌍</h4>
            <p class="description">
                <strong>📢 Share the Project:</strong> Spread the word about the <strong>Digital Garden!</strong> Share your flower and our garden, or <strong>tell a friend.</strong> Every share helps our garden <strong>grow.</strong>
            </p>
        </div>



    </div>

{/block}

{block css}

    <style>
        body {
            background-color: #ddf6dd;
            line-height: 1.6;
        }

        .support-container {
            max-width: calc(100% - 30rem);
            margin: 2.5rem auto;
            padding: 3.5rem 5rem 2rem;
            background-color: #e5ffe5;
            background-image: url('https://www.transparenttextures.com/patterns/little-pluses.png');
            border-radius: 2.5rem;
            text-align: center;
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
            border: 0.4rem dashed #88bd8f;
        }

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .front-nav {
            text-decoration: none;
            color: #467341;
            display: inline-block;
            font-size: large;
            transition: transform 0.3s ease, filter 0.3s ease;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
        }

        .front-pages {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 2.5rem;
        }

        .login-link {
            border: 1px solid #004d40;
            padding: 0.75rem 2.5rem;
            font-size: 1rem;
            border-radius: 0.75rem;
            background-color: #e5ffe5;
            background-image: url('https://www.transparenttextures.com/patterns/soft-grid.png');
            color: #003d29;
            text-align: center;
            display: inline-block;
            text-decoration: none;
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .login-link:hover {
            background-color: #467341;
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            color: #fff;
        }

        .front-nav:hover {
            transform: scale(1.2);
            filter: brightness(1.2);
        }

        .welcome-title {
            font-size: 2.5rem;
            margin: 1.5rem 0 0;
            color: #3d6e3d;
        }

        .plant-flower {
            text-align: center;
            font-size: 1.5rem;
            font-style: italic;
            color: #666;
            margin: 0;
        }

        .main-content {
            text-align: justify;
            border: 0.1rem solid #4caf50;
            padding: 2rem 3rem;
            margin: 3rem auto;
            border-radius: 1rem;
            background-color: #c8e6c9;
        }

        .description-title {
            color: #4caf50;
            font-size: 1.3rem;
            margin: 1rem 0 0 0;
        }
        .description:last-child {
            margin-bottom: 1.5rem!important;
        }

        .description {
            margin: 0 0 1rem;
            color: #3a623a;
            font-size: 1rem;
            text-indent: 1rem;
        }

        .github-link {
            color: darkblue;
        }
    </style>

{/block}